.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
   width: 30%;
   /* padding: 1%; */
   /* background-color: brown; */
   display: flex;
   justify-content: center;
   /* background-color: red; */
}

.item {
    display: flex;
    width: 70%;
    list-style: none;
    gap: 10%;
    align-items: center;
    /* background-color: green; */
    justify-content: left;
}



@media screen and (max-width: 600px) {
    .container{
      flex-wrap: wrap;
      justify-content: center;
    }
    h1{
        width: 100%;
    }
    .item {
        width: 100%;
        justify-content: center;
       
    }
  }

  /* at 430 px */