.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containermobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itemmobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    gap: 10%;
    align-items: center;
    justify-content: left;
}



h1{
   width: 30%;
   display: flex;
   justify-content: center;
}

.item {
    display: flex;
    width: 70%;
    list-style: none;
    gap: 10%;
    align-items: center;
    justify-content: left;
}



@media screen and (max-width: 600px) {
    .container{
      flex-wrap: wrap;
      justify-content: center;
    }
    h1{
        width: 100%;
    }
    .item {
        width: 100%;
        justify-content: center;
       
    }
  }
